h1 {
    color: #ad109b;
   
    }
    

button{
    color: #f6fbfd;
   font-size: 20px;
    text-align: center;
   background: linear-gradient(45deg,black,blue);
   border: none;
   padding: 10px;
   border-radius: 50px;
    
    
}
.ball{
    margin: 50px auto;
    width: 500px;
    height: 200px;
   background: linear-gradient(45deg,green,yellow,rgb(185, 12, 162));
   display: flex;
   justify-content: space-evenly;
    align-items: center;

}